<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="https://www.twitter.com/kokikwbt" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/kokikwbt" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/koki25kw" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://www.github.com/kokikwbt" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/koki-kawabata-765064199/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li> 
        <li><a href="mailto:koki88@sanken.osaka-u.ac.jp" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>2019 &copy; Koki Kawabata. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</footer>