<!-- <!DOCTYPE HTML> -->
<html>
	<head>
		<title>Koki's homepage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			
			{% include head.html %}

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Koki Kawabata</h2>
							<p algin="left">
								I am a Ph.D. student at Osaka University, Japan.<br />
								My research interests are time series analysis,<br />
								stream mining and machine learning techniques.<br />
								<a href="about.html">more detail...</a>
							</p>
						</header>
						<!-- my face -->
						<span class="image"><img src="images/pic01.jpg" alt="" /></span>
					</div>
					<!-- <a href="#one" class="goto-next scrolly">Next</a> -->
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.twitter.com/kokikwbt" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/kokikwbt" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
<!-- 						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li> -->
						<li><a href="https://www.instagram.com/koki25kw" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.github.com/kokikwbt" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="mailto:koki88@sanken.osaka-u.ac.jp" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>2019 &copy; Koki Kawabata. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>