<li><a href='{{ "about.html" | absolute_url }}'>About</a></li>
<li><a href='{{ "posts.html" | absolute_url }}'>Post</a></li>
<li><a href='{{ "codes.html" | absolute_url }}'>Code</a></li>
<!--                            <li>
    <a href="#">Layouts</a>
    <ul>
        <li><a href="left-sidebar.html">Left Sidebar</a></li>
        <li><a href="right-sidebar.html">Right Sidebar</a></li>
        <li><a href="no-sidebar.html">No Sidebar</a></li>
        <li>
            <a href="#">Submenu</a>
            <ul>
                <li><a href="#">Option 1</a></li>
                <li><a href="#">Option 2</a></li>
                <li><a href="#">Option 3</a></li>
                <li><a href="#">Option 4</a></li>
            </ul>
        </li>
    </ul>
</li>
-->                            <!-- <li><a href="elements.html">Elements</a></li> -->
<!-- <li><a href="others.html">Others</a></li> -->
