<!-- Menu for header -->
<li><a href='{{ "about.html" | absolute_url }}'>About</a></li>
<li><a href='{{ "publications.html" | absolute_url }}'>Publications</a></li>
<li><a href='{{ "codes.html" | absolute_url }}'>Codes</a></li>
<li><a href='{{ "blog.html" | absolute_url }}'>Blog</a></li>
<li><a a href='#'>Links</a><ul>
    <li><a href='https://www.dm.sanken.osaka-u.ac.jp'>Sakurai-Lab</a></li>
    <li><a href="https://www.sanken.osaka-u.ac.jp/labs/aic/index.html">AIRC-ISIR</a></li>
    <!-- <li><a href=''>Tips</a></li> -->
</ul></li>