<!-- Sidebar -->
<section id="sidebar">
<!--                                        <section>
        <h3>Magna Feugiat</h3>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
        <footer>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </footer>
    </section>
    <hr />
    <section>
        <a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
        <h3>Amet Lorem Tempus</h3>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
        <footer>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </footer>
    </section> -->
    <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ez&f=ifr&linkID=0da43bea08453d49961ce65f7a91d0fa&t=kokikwbt-22&tracking_id=kokikwbt-22" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <!-- <section>
        <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1982_RC01/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"pizza","geo":"","time":"today 1-m"}],"category":0,"property":""}, {"exploreQuery":"date=today%201-m&q=pizza","guestPath":"https://trends.google.co.jp:443/trends/embed/"}); </script> 
    </section> -->
</section>