<!-- Sidebar -->
<section id="sidebar">
    <!-- Lab. description -->
    <h3>&#x1f338; Sakurai/Matsubara Lab </h3>
    <p>
        Data mining and AI laboratory for time-series data.
        We provide dramatically scalable algorithms
        to handle high-dimensional data series/streams
        and forecasting techniques with high accuracy.
    </p>
    <footer>
        <ul class="actions">
        <li><a href="https://www.dm.sanken.osaka-u.ac.jp/"class="button">Learn More</a></li>
        </ul>
    </footer>
    <!-- Twitter timeline -->
    <a class="twitter-timeline" data-height="600" data-dnt="true" data-theme="dark" href="https://twitter.com/kokikwbt?ref_src=twsrc%5Etfw">Tweets by kokikwbt</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <hr />    
    <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ez&f=ifr&linkID=0da43bea08453d49961ce65f7a91d0fa&t=kokikwbt-22&tracking_id=kokikwbt-22" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0">
    </iframe>
<!--     <section>
        <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1982_RC01/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"pizza","geo":"","time":"today 1-m"}],"category":0,"property":""}, {"exploreQuery":"date=today%201-m&q=pizza","guestPath":"https://trends.google.co.jp:443/trends/embed/"}); </script> 
    </section> -->

<!--     <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2152_RC02/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"pizza","geo":"JP","time":"now 7-d"},{"keyword":"curry","geo":"JP","time":"now 7-d"}],"category":0,"property":""}, {"exploreQuery":"date=now%207-d&geo=JP&q=pizza,curry","guestPath":"https://trends.google.co.jp:443/trends/embed/"}); </script> -->
</section>