<!-- Sidebar -->
<section id="sidebar">
    <!-- Twitter timeline -->
    <a class="twitter-timeline" data-height="600" data-dnt="true" data-theme="dark" href="https://twitter.com/kokikwbt?ref_src=twsrc%5Etfw">Tweets by kokikwbt</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <hr />    
<!--     <center>
    <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ez&f=ifr&linkID=0da43bea08453d49961ce65f7a91d0fa&t=kokikwbt-22&tracking_id=kokikwbt-22" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0">
    </iframe>
    </center>
    <hr />
 -->
     <!-- Lab. description -->
    <h3>&#x1f338; Sakurai/Matsubara Lab </h3>
    <p>
        Data mining and AI laboratory for time-series data.
        We provide dramatically scalable algorithms
        to handle high-dimensional data series/streams
        and forecasting techniques with high accuracy.
    </p>
    <footer>
        <ul class="actions">
        <li><a href="https://www.dm.sanken.osaka-u.ac.jp/"class="button small">Learn More</a></li>
        </ul>
        <!-- <ul class="actions"> -->
<!--         <li><a class="button small fit"
        href="https://twitter.com/Sakurai_M_Lab"
        data-show-count="false">Follow @Sakurai_M_Lab</a></li>
        </ul>
 --></footer>
    <h3>Personality type: Logician</h3>
    <p>
<!--     The Logician personality type is fairly rare,
    making up only three percent of the population,
    which is definitely a good thing for them,
    as there’s nothing they’d be more unhappy about than being "common".
 -->
    Logicians (INTP) pride themselves on their inventiveness and creativity,
    their unique perspective and vigorous intellect.
    Usually known as the philosopher, the architect,
    or the dreamy professor, Logicians have been responsible
    for many scientific discoveries throughout history.
    </p>
    <footer>
        <ul class="actions">
        <li><a href="https://www.16personalities.com/"class="button small">Take the test for you</a></li>
        </ul>
    </footer>
    <h3>Photographs</h3>
    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@asthetik?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Mike Kenneally"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Mike Kenneally</span></a>
    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@thatjoebloke?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Joe Hepburn"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Joe Hepburn</span></a>
<!--     <section>
        <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1982_RC01/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"pizza","geo":"","time":"today 1-m"}],"category":0,"property":""}, {"exploreQuery":"date=today%201-m&q=pizza","guestPath":"https://trends.google.co.jp:443/trends/embed/"}); </script> 
    </section> -->

<!--     <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2152_RC02/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"pizza","geo":"JP","time":"now 7-d"},{"keyword":"curry","geo":"JP","time":"now 7-d"}],"category":0,"property":""}, {"exploreQuery":"date=now%207-d&geo=JP&q=pizza,curry","guestPath":"https://trends.google.co.jp:443/trends/embed/"}); </script> -->
</section>