<!-- <!DOCTYPE HTML> -->
<html>
	<head>
		{% include analytics.html %}
		<title>Koki Kawabata</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<!-- <body class="is-preload landing"> -->
	<body class="portrait">
		<div id="page-wrapper">

			{% include head.html %}

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Koki Kawabata</h2>
							<p algin="left">
								I am a Ph.D. student at Osaka University, Japan.<br />
								My research interests are time series analysis,<br />
								stream mining and machine learning techniques.<br />
								<!-- <a href="about.html">more detail...</a> -->
							</p>
						</header>
						<span class="image"><img src="images/pic01.jpg" alt="" /></span>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>
			<!-- Three -->
<!-- 				<section id="two" class="spotlight style1 right">
					<span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Interdum felis blandit praesent sed augue</h2>
							<p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section> -->
			<!-- Four -->
			<!-- Search icons: https://fontawesome.com/icons?s=solid -->
				<section id="three" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Main Contents</h2>
							<!-- <p></p> -->
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid major fa-address-card"></span>
									<h3>About</h3>
									<p></p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid major fa-landmark"></span>
									<h3>Publications</h3>
									<p></p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid major fa-less-than-equal"></span>
									<h3>Softwares</h3>
									<p></p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid major fa-database"></span>
									<h3>Datasets</h3>
									<p></p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid major fa-image"></span>
									<h3>Gallery</h3>
									<p></p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid major fa-coffee"></span>
									<h3>Rest</h3>
									<p></p>
								</section>
							</div>
						</div>
					</div>
				</section>
			<!-- Contact -->
				<section id="contact" class="wrapper style2 special fade">
					<div class="container">
<!-- 						<header>
							<h2>Magna faucibus lorem diam</h2>
							<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
						</header>
						<form method="post" action="#" class="cta">
							<div class="row gtr-uniform gtr-50">
								<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
							</div>
						</form> -->
					</div>
				</section>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.twitter.com/kokikwbt" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/kokikwbt" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.linkedin.com/in/koki-kawabata-765064199/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="https://www.instagram.com/kokispics" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.github.com/kokikwbt" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="mailto:koki88@sanken.osaka-u.ac.jp" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>2019 &copy; Koki Kawabata. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>